<mat-card class="card" appCardHover (click)="showTeamPlayers()">
    <div *ngIf="!isImageLoaded" class="card__spinner">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <img mat-card-image
         appShowImage
         [src]="imageSrc"
         (load)="imageLoaded()">
    <mat-card-title class="title"> {{getTeamName()}} </mat-card-title>
    <mat-card-content>
        <img class="info" 
             appInfo 
             [matTooltip]="info" 
             [matTooltipShowDelay]="400"
             [matTooltipHideDelay]="300"
             src="/src/assets/images/info.svg">
    </mat-card-content>
</mat-card>