<div class="modal" appCardHover>
  <img class="player-image" [src]="player.image" [alt]="player.name">
  <img class="team-image" [src]="player.team_image">

  <div class="modal__content">
    <div class="modal__title"> {{player.name}} </div>

    <mat-form-field>
      <input matInput
             placeholder="APG"
             [value]="player.assists_per_game"
             title="Assists per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="BPG"
             [value]="player.blocks_per_game"
             title="Blocks per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="DRPG"
             [value]="player.defensive_rebounds_per_game"
             title="Defensive rebounds per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="FGP"
             [value]="player.field_goal_percentage"
             title="Field goal percentage">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="FGAPG"
             [value]="player.field_goals_attempted_per_game"
             title="Field goals attempted per game">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="FGMPG"
             [value]="player.field_goals_made_per_game"
             title="Field goals made per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="FTP"
             [value]="player.free_throw_percentage"
             title="Free throw percentage">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="GP"
             [value]="player.games_played"
             title="Games played">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="MPG"
             [value]="player.minutes_per_game"
             title="Minutes per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="ORPG"
             [value]="player.offensive_rebounds_per_game"
             title="Offensive rebounds per game">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="PER"
             [value]="player.player_efficiency_rating"
             title="Player efficiency rating">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="PPG"
             [value]="player.points_per_game"
             title="Points per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="RPG"
             [value]="player.rebounds_per_game"
             title="Rebounds per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="SPG"
             [value]="player.steals_per_game"
             title="Steals per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="TPAPG"
             [value]="player.three_point_attempted_per_game"
             title="Three point attempted per game">
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="TPMPG"
             [value]="player.three_point_made_per_game"
             title="Three point made per game">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="TPP"
             [value]="player.three_point_percentage"
             title="Three point percentage">
    </mat-form-field>
    <mat-form-field>
      <input matInput
             placeholder="TPG"
             [value]="player.turnovers_per_game"
             title="Turnovers per game">
    </mat-form-field>
  </div>
  <mat-card-actions>
    <img class="close"
         src="/src/assets/images/close.png"
         (click)="closeModal()">
    <img class="favorite"
         [src]="heartImage"
         (click)="toggleHeartColor()">
  </mat-card-actions>
</div>
