.modal {
  position: fixed;
  top: 50px;
  left: calc(100vh - 350px);
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 400px;
  padding: 10px 50px 100px 0px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 20;
}

.player-image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.team-image {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 300px;
}

.modal__title {
  width: 100%;
  margin: 20px 0px;
  font-size: 30px;
  text-align: center;
}

.modal__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 330px;
}

.modal__content mat-form-field {
  width: 21%;
}

.close, .favorite {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
}

.close {
  right: 16px;
  bottom: 16px;
}

.favorite {
  right: 66px;
  bottom: 16px;
}
