.card {
  width: 350px;
  margin: 10px;
}

.card__spinner {
  display: flex;
  justify-content: center;
}

.team-image {
  position: absolute;
  top: 10px;
  right: 16px;
  width: 70px;
  height: 70px;
}

mat-card-content p {
  margin: 5px 0 0 0;
  padding: 0px;
}

.edit, .favorite {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
}

.edit {
  right: 66px;
  bottom: 16px;
}

.favorite {
  right: 16px;
  bottom: 16px;
}

.hovered {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: .2s all ease-in-out;
  z-index: 10;
}
