<app-loading *ngIf="showLoading" [withBackdrop]="withBackdrop"></app-loading>
<div class="players">
    <app-player-card *ngFor="let player of currentPageSet"
                     [player]="player"
                     (loading)="setLoadingStatus($event)"
                     (backdrop)="showBackdrop($event)"
                     (favoriteEvent)="toggleFavoriteState($event)">
    </app-player-card>
</div>
<mat-paginator class="paginator"
               [length]="playersCount"
               [pageSize]="10"
               [hidePageSize]="true"
               [pageIndex]="currentSetIndex"
               [showFirstLastButtons]="true"
               (page)="setNewPageIndex($event)">
</mat-paginator>