<div *ngIf="showModal" class="backdrop" (click)="closeModal()"></div>
<app-player-modal *ngIf="showModal"
                  [player]="player"
                  (favoriteChanged)="changeIsFavorite($event)"
                  (modalClosed)="closeModal()"></app-player-modal>
<mat-card class="card" appCardHover>
  <div *ngIf="!isImageLoaded" class="card__spinner">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <img mat-card-image appShowImage [src]="imageSrc" (load)="imageLoaded()">
  <mat-card-title> {{name}} </mat-card-title>
  <mat-card-content>
    <img *ngIf="isImageLoaded" class="team-image" [src]="teamImage">
    <p>Team: {{team}}</p>
    <p>Games played: {{gamesPlayed}}</p>
    <p>Three point percentage: {{tpp}}</p>
  </mat-card-content>
  <mat-card-actions>
    <img class="edit"
         title="Edit player"
         src="/src/assets/images/edit.png"
         (click)="editPlayer()">
    <img class="favorite"
         title="Add to favorites"
         [src]="heartImage"
         (click)="toggleFavorite()">
  </mat-card-actions>
</mat-card>
