<mat-card class="card" appCardHover (click)="showTeamPlayers()">
    <div *ngIf="!isTeamImageLoaded" class="card__spinner">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
    <img mat-card-image
         appShowImage
         [src]="image"
         (load)="teamImageLoaded()">
    <mat-card-title class="card__title"> {{getTeamName()}} </mat-card-title>
    <mat-card-content>
        <img class="card__info" 
             appInfo 
             [matTooltip]="info" 
             [matTooltipShowDelay]="400"
             [matTooltipHideDelay]="300"
             src="/src/assets/images/info.svg">
    </mat-card-content>
</mat-card>