.modal {
  position: fixed;
  top: 80px;
  left: calc(100vh - 350px);
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 400px;
  padding: 10px 50px 100px 0px;
  border-radius: 5px;
  background-color: #fff;
  z-index: 35;
}

.player-image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 300px;
  margin: 0px;
  padding: 0px;
}

.team-image {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 300px;
}

.modal__title {
  width: 100%;
  margin: 20px 0px;
  font-size: 30px;
  text-align: center;
}

.modal__content {
  margin-left: 330px;
}

.modal__favorite, .modal__save {
  cursor: pointer;
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 16px;
}

.modal__favorite {
  right: 30px;
}

.modal__save {
  right: 80px;
}
