.header {
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #000;
}

.menu-and-nba-stats {
  display: flex;
}

.menu-and-nba-stats .burger {
  height: 32px;
}

.menu-and-nba-stats .logo {
  position: relative;
  top: 13px;
  height: 30px;
  width: 70px;
}

.menu-and-nba-stats p {
  position: relative;
  top: 12px;
  margin: 0 0 0 1px;
  padding: 0px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.slide-toggle-and-favorites {
  display: flex;
}

.slide-toggle-and-favorites p {
  margin: 0px 10px;
  padding: 0px;
  text-align: center;
  line-height: 60px;
  font-weight: 700;
  color: #fff;
}

.favorites-button {
  cursor: pointer;
  height: 35px;
  width: 35px;
  margin: 12px 25px 0px 15px;
  transform: scale(1);
  transition: .02s transform ease-in-out;
  outline: none;
}

.favorites-button:active {
  transform: scale(0.9);
}

.slide-toggle {
  height: 60px;
}
