<div class="header">
  <div class="menu-and-nba-stats">
    <button mat-button [matMenuTriggerFor]="menu" title="Menu">
      <img class="invert-color burger" src="/src/assets/images/menu_burger.svg" alt="Menu">
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item 
              (click)="clearFavorites()" 
              [disabled]="checkUrl()"> Clear favorites </button>
    </mat-menu>
    <img class="logo" src="/src/assets/images/NBA_new.png">
    <p>Stats</p>
  </div>

  <div class="slide-toggle-and-favorites">
    <p>Players</p>
    <mat-slide-toggle class="slide-toggle"
                      color="primary"
                      [checked]="isTeams"
                      (change)="changeContent()">
    </mat-slide-toggle>
    <p>Teams</p>
    <img class="favorites-button"
         routerLink="/favorites"
         src="/src/assets/images/favorites.png">
  </div>
</div>
