<app-loading *ngIf="showLoading" [withBackdrop]="withBackdrop"></app-loading>
<div class="favorites">
    <ng-container *ngIf="isFavoritesListEmpty">
        <p class="clear-list">List of favorites is empty.</p>
    </ng-container>
    <ng-container *ngFor="let player of favoritesList">
        <app-favorite [player]="player"
                      (loading)="setLoadingStatus($event)"
                      (backdrop)="showBackdrop($event)"
                      (favoriteEvent)="favoriteStateChange($event)">
        </app-favorite>
    </ng-container>
</div>