<div *ngIf="isEditModal" class="backdrop" (click)="closeEditModal()"></div>
<app-edit-modal *ngIf="isEditModal"
                [playerSettings]="player"
                (favoriteStateChanged)="changeFavoriteState($event)"
                (modalClosed)="closeEditModal()">
</app-edit-modal>

<mat-card class="card" appCardHover>

  <div *ngIf="!isPlayerImageLoaded" class="card__spinner">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>

  <img mat-card-image appShowImage [src]="player.image" (load)="playerImageLoaded()">
  <mat-card-title> {{player.name}} </mat-card-title>

  <mat-card-content>
    <img *ngIf="isTeamImageLoaded" class="team-image" [src]="player.team_image">
    <p>Team: {{player.team_name}}</p>
    <p>Games played: {{player.games_played}}</p>
    <p>Three point percentage: {{player.three_point_percentage}}</p>
  </mat-card-content>

  <mat-card-actions>
    <img class="edit"
         title="Edit player"
         src="/src/assets/images/edit.png"
         (click)="showEditModal()">
    <img class="favorite"
         title="Add to favorites"
         [src]="favoriteStateImage"
         (click)="toggleFavoriteState()">
  </mat-card-actions>

</mat-card>
