<div [formGroup]="editForm" class="edit-form">
    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="assistsPerGame" 
                placeholder="APG"
                title="Assists per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text"
                formControlName="blocksPerGame" 
                placeholder="BPG"
                title="Blocks per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="defensiveReboundsPerGame" 
                placeholder="DRPG"
                title="Defensive rebounds per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="fieldGoalPercentage" 
                placeholder="FGP"
                title="Field goal percentage">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="fieldGoalsAttemptedPerGame" 
                placeholder="FGAPG"
                title="Field goals attempted per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="fieldGoalsMadePerGame" 
                placeholder="FGMPG"
                title="Field goals made per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="freeThrowPercentage" 
                placeholder="FTP"
                title="Free throw percentage">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="gamesPlayed" 
                placeholder="GP"
                title="Games played">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="minutesPerGame" 
                placeholder="MPG"
                title="Minutes per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="offensiveReboundsPerGame" 
                placeholder="ORPG"
                title="Offensive rebounds per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="playerEfficiencyRating" 
                placeholder="PER"
                title="Player efficiency rating">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="pointsPerGame" 
                placeholder="PPG"
                title="Points per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="reboundsPerGame" 
                placeholder="RPG"
                title="Rebounds per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="stealsPerGame" 
                placeholder="SPG"
                title="Steals per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="threePointAttemptedPerGame" 
                placeholder="TPAPG"
                title="Three point attempted per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="threePointMadePerGame" 
                placeholder="TPMPG"
                title="Three point made per game">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="threePointPercentage" 
                placeholder="TPP"
                title="Three point percentage">
    </mat-form-field>

    <mat-form-field>
        <input matInput 
                type="text" 
                formControlName="turnoversPerGame" 
                placeholder="TPG"
                title="Turnovers per game">
    </mat-form-field>
</div>