<section class="content">
  <ng-container *ngFor="let player of players">
    <!--<app-team [title]="player.team_name"-->
              <!--[content]="player.name"-->
              <!--[image]="player.image"></app-team>-->
    <app-player *ngIf="!isTeams"
                [name]="player.name"
                [team]="player.team_name"
                [gamesPlayed]="player.games_played"
                [tpp]="player.three_point_percentage"
                [imageSrc]="player.image"></app-player>
  </ng-container>
</section>
