.content {
  background-color: #ddd;
}

.navigation {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.navigation .set-info {
  margin: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.navigation .btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  transition: .2s background-color ease-in-out;
  outline: none;
}

.navigation .btn:hover {
  background-color: #aaaaaa;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
