<section class="content">
  <app-loading *ngIf="isLoading"></app-loading>

  <ng-container *ngIf="isTeamPlayers">
    <div class="team-players">
      <ng-container *ngFor="let player of teamPlayers">
        <app-player [name]="player.name"
                    [team]="player.team_name"
                    [gamesPlayed]="player.games_played"
                    [tpp]="player.three_point_percentage"
                    [imageSrc]="player.image"
                    (loading)="setLoadingStatus($event)"
                    (favoriteEvent)="toggleFavorites($event)"></app-player>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="isFavorites ">
    <div class="favorites">
      <ng-container *ngIf="favorites.length === 0">
          <p class="clear-list">List of favorites is clear.</p>
      </ng-container>
      <ng-container *ngFor="let player of favorites">
        <app-player [name]="player.name"
                    [team]="player.team_name"
                    [gamesPlayed]="player.games_played"
                    [tpp]="player.three_point_percentage"
                    [imageSrc]="player.image"
                    (loading)="setLoadingStatus($event)"
                    (favoriteEvent)="toggleFavorites($event)"></app-player>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="isTeams && !isFavorites && !isTeamPlayers">
    <div class="teams">
      <ng-container *ngFor="let team of teamsNames">
        <app-team [team]="team"
                  [acronym]="teams[team].acronym"
                  [imageSrc]="teams[team].image"
                  [info]="teams[team].info"
                  (showTeam)="displayTeam($event)"></app-team>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="!isTeams && !isFavorites && !isTeamPlayers">
    <div class="players">
      <ng-container *ngFor="let player of currentSet">
        <app-player [name]="player.name"
                    [team]="player.team_name"
                    [gamesPlayed]="player.games_played"
                    [tpp]="player.three_point_percentage"
                    [imageSrc]="player.image"
                    (loading)="setLoadingStatus($event)"
                    (favoriteEvent)="toggleFavorites($event)"></app-player>
      </ng-container>
    </div>
    <!-- <div class="navigation">
      <button class="btn" (click)="prevSet()">
        <img src="/src/assets/images/prev.png">
      </button>
      <div class="set-info">
        Page <input type="number" 
                    [value]="currentSetIndex"
                    (input)="moveToSet($event)"
                    #setNumber> from {{getSetsCount()}}
      </div>
      <button class="btn" (click)="nextSet()">
        <img src="/src/assets/images/next.png">
      </button>
    </div> -->
    <mat-paginator class="paginator"
                   [length]="length"
                   [pageSize]="10"
                   [hidePageSize]="true"
                   [pageIndex]="currentSetIndex"
                   [showFirstLastButtons]="true"
                   (page)="setNewPageIndex($event)">
    </mat-paginator>

  </ng-container>
</section>
