.content {
  min-height: 100vh;
  background-color: #ddd;
}

.teams {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}

.navigation .set-info {
  margin: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.navigation .set-info input {
  width: 23px;
  padding: 0px 5px;
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navigation .btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  /* border-radius: 20px; */
  transition: .2s background-color ease-in-out;
  outline: none;
}

.navigation .btn:hover {
  background-color: #bbbbbb;
}

.favorites, .players, .team-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favorites .clear-list {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 300;
}

.paginator {
  background-color: #ddd;
}
