<div class="modal" appCardHover>
  <img class="player-image" [src]="player.image" [alt]="player.name">
  <img class="team-image" [src]="player.team_image">

  <div class="modal__content">
      <div class="modal__title"> {{player.name}} </div>
      <app-edit-stats-form [player]="player"></app-edit-stats-form>
  </div>

  <mat-card-actions>
    <img class="close"
         src="/src/assets/images/close.png"
         (click)="closeModal()">
    <img class="favorite"
         [src]="heartImage"
         (click)="toggleFavoriteState()">
  </mat-card-actions>
</div>
