.card {
  width: 350px;
  margin: 10px;
}

.card__spinner {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
}

.team-image {
  position: relative;
  left: calc(100% / 2 - 125px);
  max-width: calc(100% - 100px);
}

.content {
  font-size: 20px;
}

.content span {
  font-style: italic;
}

.hovered {
  cursor: pointer;
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: .3s all ease-in-out;
  z-index: 10;
}
