<mat-card class="card" appCardHover>
  <div *ngIf="!isImageLoaded" class="card__spinner">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <img mat-card-image
       [src]="imageSrc"
       (load)="imageLoaded()">
  <mat-card-title class="title"> {{getTeamName()}} </mat-card-title>
  <mat-card-content>
    <p class="content"> Team acronym: <span>"{{acronym}}"</span> </p>
    <p> {{info}} </p>
  </mat-card-content>
  <!--<mat-card-actions>-->
    <!--<img class="heart"-->
         <!--[src]="heartImage"-->
         <!--(click)="changeHeartColor()">-->
  <!--</mat-card-actions>-->
</mat-card>
